<!DOCTYPE html>
<html>
  <head>
    <title>InfoVisLanguages</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <script src="https://bl.ocks.org/syntagmatic/raw/3341641/render-queue.js"></script>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1>Info-Vis-Languages</h1>
    </div>
    <div>
      <h3>US Map with Languages Spoken by State</h3>
      <p>Click a state and select an option to display language information</p>
      <ul>
        <li>Click each section(slice in pie graph or bar in bar graph) to display population values.</li>
        <li>Click the yellow slice of the Top 5 pie graph to drill down to view all other languages spoken</li>

      </ul>
    </div> 
    <div id="select-language"></div>
    <div id="container"></div>
    <div>
      <h3>Parallel Coordinate Visualization of Languages Spoke by State</h3>
      <p>Select a group of states and a group of languages to build the visualization.</p>
    </div>
    <div id="multi-st-select"></div>
    <ul>
      <li>
        Brush each axis to select individual languages.
      </li>
    </ul>
    
    <%= yield %>
  </body>
  
</html>
